.absolute {
  position: absolute
}

.relative {
  position: relative
}

.top-2 {
  top: 0.5rem
}

.left-6 {
  left: 1.5rem
}

.-left-6 {
  left: -1.5rem
}

.-left-20 {
  left: -5rem
}

.-left-24 {
  left: -6rem
}

.-left-10 {
  left: -2.5rem
}

.-left-12 {
  left: -3rem
}

.-right-12 {
  right: -3rem
}

.top-1\/2 {
  top: 50%
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex
}

.h-20 {
  height: 5rem
}

.h-10 {
  height: 2.5rem
}

.h-6 {
  height: 1.5rem
}

.w-2\/3 {
  width: 66.666667%
}

.w-20 {
  width: 5rem
}

.w-10 {
  width: 2.5rem
}

.w-6 {
  width: 1.5rem
}

.flex-1 {
  flex: 1 1 0%
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-center {
  justify-content: center
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-sky-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(56 189 248 / var(--tw-bg-opacity))
}

.p-2 {
  padding: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pt-6 {
  padding-top: 1.5rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}

.text-blue-400 {
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity))
}

.text-slate-700 {
  --tw-text-opacity: 1;
  color: rgb(51 65 85 / var(--tw-text-opacity))
}
